body {
    margin: 0;
}

header {
    background: url(pexels-helloaesthe-27400765.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

}

h1{
    font-size: 80px;
    border: 2px solid blue;
    border-bottom: 6px solid blue;
    padding: 15px 40px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.493);
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
}

.titulo{
    color: rgb(248, 245, 245);
}